@import "~@fluentui/react/dist/sass/References.scss";

.btnGroup {
  padding: 10px 0px;
  .btn {
    border-color: #ccc;
    font-weight: 300;
  }
  .btnRequest {
    background: "blue";
    color: #fff;
  }
  .btnCancel {
    background-color: #ccc;
    margin-left: 10px;
  }
}

.table,
.td,
.th {
  border: 1px solid;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
